/* Completed for the "Body" font: */
@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Completed for the "Heading" font: */
@font-face {
  font-family: 'PrinceValiant';
  src: url('../fonts/PrinceValiant.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Completed for the "Credits" font: */
@font-face {
  font-family: 'AmaticSC';
  src: url('../fonts/AmaticSC-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Completed for the "First Letter in Paragraph" font: */
@font-face {
  font-family: 'OldeEnglish';
  src: url('../fonts/OldeEnglish.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
