body {
   /* Targets EVERY element in the body. */
   background-color: #f3e0c1;
   align-content: left;
}

h1 {
  /* Targets Heading1 elements. */
  font-family: 'halant', Georgia, Times, serif;
  font-color: black;
  font-size: 190%;
}

.credits {
  /* Targets Credits elements. */
  font-family: 'Nunito Sans', sans-serif;
  font-color: black;
  font-size: 75%;
  text-indent: 50px;
  letter-spacing: 1em;
}

p {
  /* Targets ALL paragraph elements. */
   font-family: 'Nunito Sans', sans-serif;
   font-color: black;
   font-size: 20px;
   line-height: 1.45em;
}

.container {
  background-color: ivory;
  position: center;
  width: 1075px;
  margin: auto;
  padding: 50px;
  border-width: 10px;
  border-style: double;
  border-color: #6f5428;
}
