body {
   /* Targets EVERY element in the body. */
   background-color: #892e0a;
   align-content: left;
}

@font-face {
  font-family: 'COPRGTL';
  src: url('fonts/COPRGTL.TTF')
}

@font-face {
  font-family: 'OldeEnglish';
  src: url('fonts/OldeEnglish.ttf')
}

h1 {
  /* Targets Heading1 elements. */
  font-family: COPRGTL, Georgia, Times, serif;
  font-color: black;
  font-size: 200%;
}

p {
  /* Targets ALL paragraph elements. */
   font-family: Georgia, Times, serif;
   font-color: black;
   font-size: 20px;
   line-height: 1.45em;
}

.container {
  background-color: #f3e0c1;
  position: center;
  width: 1075px;
  margin: auto;
  padding: 50px;
  border-width: 10px;
  border-style: double;
  border-color: black;
}
