body {
   /* Targets EVERY element in the body. */
   background-color: #f3e0c1;
   align-content: left;
}

h1 {
  /* Targets Heading1 elements. */
  font-family: 'PrinceValiant', palatino, serif;
  color: #b17b45;
  font-size: 240%;
  line-height: 2em;
}

.credits {
  /* Targets Credits elements. */
  font-family: 'AmaticSC', Courier, monospace;
  color: black;
  font-size: 190%;
  text-indent: 50px;
   line-height: 5em;
}

.copyright {
  /* Targets Copyright element. */
  font-family: 'AmaticSC', Courier, monospace;
  color: black;
  font-size: 200%;
  text-decoration: underline;
  letter-spacing: 0.2em;
}

p {
  /* Targets ALL paragraph elements. */
   font-family: 'NunitoSans', Georgia, serif;
   color: black;
   font-size: 20px;
   line-height: 1.45em;
}

p.intro:first-letter {
  /* Targets First Letter in Paragraph */
  font-family: 'OldeEnglish', Courier, monospace;
  font-size: 500%;
  color: #b30a0a;
  text-indent: 50px;
}

.container {
  background-color: ivory;
  position: center;
  width: 975px;
  margin: auto;
  padding: 75px;
  border-width: 10px;
  border-style: double;
  border-color: #6f5428;
}
