/* Completed for the "Body" font: */
@font-face {
  font-family: 'Arial Narrow';
  src: url('../fonts/arial-narrow.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Completed for the "Heading" font: */
@font-face {
  font-family: 'VOGUE';
  src: url('../fonts/vogue.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Completed for the "Quotes" font: */
@font-face {
  font-family: 'Arial Narrow Italic';
  src: url('../fonts/arial-narrow-italic.ttf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

/* Completed for the "H2" font: */
@font-face {
  font-family: 'Arial Narrow Bold Italic';
  src: url('../fonts/arial-narrow-bold-italic.ttf') format('opentype');
  font-weight: normal;
  font-style: bold;
}

/* Completed for the "H2" font: */
@font-face {
  font-family: 'Arial Narrow Bold';
  src: url('../fonts/arial-narrow-bold.ttf') format('opentype');
  font-weight: normal;
  font-style: bold;
}
