body {
   /* Targets EVERY element in the body. */
   width: 1074px;
   background-color: #ffffff;
   }

   .background {
     /* Targets Main Image Element */
     z-index: 2;
     position: absolute;
     width: auto;
   }

.container {
  /*DO NOT CHANGE - Targets All Page Elements in Container. */
  position: absolute;
  width: 1024px;
  height: 1492px;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: -10px 10px 25px #888888;
}

.h1index {
  /* Targets All H1 Elements. */
  position: absolute;
  z-index: 4;
  font-family: 'VOGUE', Times, serif;
  font-size: 44pt;
  color: #ffffff;
  letter-spacing: 0.2em;
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: rgba(47, 119, 106, 0.3);
  margin-top: 100px;
  margin-left: 90px;
}

.h1about {
  /* Targets H1 Element on About Page */
  position: absolute;
  z-index: 4;
  font-family: 'VOGUE', Times, serif;
  font-size: 44pt;
  color: #ffffff;
  letter-spacing: 0.2em;
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: rgba(47, 119, 106, 0.3);
  margin-top: 600px;
  margin-right: 90px;
}

h2 {
  /* Targets All H2 Elements */
  position: static;
  font-family: 'Autography', Verdana, sans-serif;
  font-size: 36pt;
  color: #2f776a;
  padding-left: 25px;
  padding-bottom: 0px;
  letter-spacing: 0.2em;
  }

  h2.signed {
    /* Targets First Letter in Paragraph */
    font-family: 'Autography', Verdana, sans-serif;
    font-size: 36pt;
    color: #2f776a;
    text-indent: 50px;
    letter-spacing: 0em;
  }

.framed-element {
  /* Targets All Target Elements */
  position: absolute;
  z-index: 3;
  background-color: rgba(47, 119, 106, 0.3);
  width: 395px;
  height: auto;
  margin-top: 500px;
  margin-bottom: 100px;
  margin-left: 90px;
}

.framed-contact-element {
  /* Targets All Target Elements */
  position: absolute;
  z-index: 3;
  background-color: rgba(47, 119, 106, 0.3);
  bottom: 25px;
  left: 40px
  width: 33%;
  height: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px;
}

  p {
    /* Targets All P Elements */
    position: static;
    font-family: 'Arial Narrow', Verdana, sans-serif;
    font-size: 24pt;
    color: #ffffff;
    line-height: 1em;
    letter-spacing: 2px;
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    }

    nav {
      /* Targets All Navigation Elements */
      position: absolute;
      z-index: 7;
      text-align: left;
      right: 50px;
      top: 595px;
    }

    li {
      /* Orders All Navigation Elements */
      display: block;
      font-family: 'Arial Narrow Bold', Verdana, sans-serif;
      font-size: 24pt;
      max-width: 250px;
      line-height: 1.2em;
      letter-spacing: 0.2em;
      color: #ffffff;
      text-transform: uppercase;
    }

    a {
      /* Targets All Linked Elements */
      color: #2f776a;
      text-decoration: none;
    }

    a:hover {
      color: #54dab7;
      style: italic;
    }

/* Dropdown Element */
/* The dropdown container */
.dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 36pt;
  padding: 7px 8px;
  background-color: none;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Adds background color to navbar links on hover */
.navbar .dropdown:hover .dropbtn {
  color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cfcbc9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #2f776a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Adds white font color to dropdown links on hover */
.dropdown-content a:hover {
  color: #ffffff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
