body {
   /* Targets EVERY element in the body. */
   font-family: arial, serif;
   background-color: #636caa;
   align-content: center;
}

article {
  width: 480px;
  margin: auto;
}

h1 {
  /* Targets Heading1 elements. */
  font-color: ivory;
  font-size: 400%;
  text-align: center;
  background-color: #e65525;
}

p {
  /* Targets ALL paragraph elements. */
   font-color: ivory;
   font-size: 20px;
   text-align: center;
}

.container {
  background-color: rgba(255,255,255,0.5);
  position: center;
  width: 1075px;
  margin: auto;
  padding: 20px;
  border-width: 10px;
  border-style: double;
  border-color: #fec52e;
}

image {
  /* Targets images to be positoned to the left. */
  padding: 20px;
  width: auto;
  height: auto;
}
