body {
   /* Targets EVERY element in the body. */
   font-family: arial, serif;
   background-color: #ffd976;
   align-content: center;
}

article {
  width: 480px;
  margin: auto;
}

h1 {
  /* Targets Heading1 elements. */
  font-color: #104734;
  font-size: 400%;
  text-align: center;
}

p {
  /* Targets ALL paragraph elements. */
   font-color: #fec52e;
   font-size: 20px;
   text-align: center;
}

.container {
  background-color: rgba(255,255,255,0.5);
  position: center;
  width: 1075px;
  margin: auto;
  padding: 20px;
}

image {
  /* Targets images to be positoned to the left. */
  border-radius: 25px;
  border-color: rgba(232,184,46,0.5);
  border: 20px;
  padding: 20px;
  width: auto;
  height: auto;
}
