body {
   /* Targets EVERY element in the body. */
   font-family: arial, serif;
   font-size: 12px;
   background-color: #17291f;
}

h1 {
  /* Targets Heading1 elements. */
  color: #fbbda0;
  font-size: 600%;
}

p {
  /* Targets ALL paragraph elements. */
   font-color: #fbbda0;
   bacground-color: rgba(232,184,46,0.5);
}

p.styled {
  /* Targets ONLY paragraphs with the "styled" class. */
   border: 2px;
   border-color: #17291f;
   background-color: ivory;
}

left.image {
  /* Targets images to be positoned to the left. */
  align-content: left;
  border-radius: 25px;
  border-color: rgba(232,184,46,0.5);
  border: 5px;
  padding: 20px;
  width: auto;
  height: auto;
}

right.image {
  /* Targets images to be positoned to the right. */
  align-content: right;
  border-radius: 25px;
  border-color: rgba(232,184,46,0.5);
  border: 5px;
  padding: 20px;
  width: auto;
  height: auto;
}
