body {
   /* Targets EVERY element in the body. */
   width: 100%;
   margin: 25px;
   background-color: black;
   }

   .header {
     width: 75%;
     height: 50%;
     border: none;
     padding: 0px;
     margin: none;
   }

h1 {
  /* Targets All H1 Elements. */
  font-family: 'Baskerville', Times, serif;
  color: #ffffff;
  font-size: 36pt;
  margin-top: 50%;
  text-align: center;
}
