body {
   /* Targets EVERY element in the body. */
   width: 100%;
   height: 600px;
   margin: 0px;
   background-color: black;
   }

.nav-bar {
/* Targets Navigation Bar Elements */
position: fixed;
width: 100%;
height: 2em;
padding: 0px;
margin: none;
}

.image {
  /* Targets Main Image Element */
  z-index: 1;
}

h1 {
  /* Targets All H1 Elements. */
  position: fixed;
  font-family: 'Baskerville', Times, serif;
  font-size: 36pt;
  color: #ffffff;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 7px #111111;
  text-align: center;
  margin-left: 50px;
}

nav {
  /* Targets All Navigation Elements */
  position: fixed;
  font-family: 'Arial Narrow', Verdana, sans-serif;
  font-size: 15pt;
  color: #ffffff;
  padding-top: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px 7px #111111;
  margin-left: 50px;
  margin-top: 50px;
}

li {
  /* Orders All Navigation Elements */
  display: inline;
  margin-right: 50px;
}

a {
  /* Targets All Linked Elements */
  color: #f05815;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  style: italic;
}

.container {
  position: sticky;
  z-index: 3;
  background-color: none;
  bottom: 100px;
  left: 50px;
  position: center;
  width: 80%;
  margin-left: 40px;
  padding: 3px;
}

.framed-element {
  /* Targets All Target Elements */
  position: relative;
  z-index: 2;
  background-color: none;
  bottom: 25px;
  left: 40px;
  position: center;
  width: 90%;
  height: 400px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 40px;
  border-style: solid;
  border-color: #f05815;
  border-width: 2px;
}

iframe {
  margin-left: 25px;
}

.framed-contact-element {
  /* Targets All Target Elements */
  position: relative;
  z-index: 2;
  display: inline;
  background-color: none;
  bottom: 25px;
  left: 40px;
  position: left;
  width: 33%;
  height: 475px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: 40px;
  border-style: solid;
  border-color: #f05815;
  border-width: 2px;
}

h2 {
  /* Targets All H2 Elements */
  position: absolute;
  z-index: 4;
  font-family: 'PanPizza', Times, serif;
  font-size: 28pt;
  color: #ffffff;
  letter-spacing: 0.2em;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 50px;
  }

  h3.contact {
    /* Targets All H2 Elements */
    position: absolute;
    z-index: 5;
    font-family: 'Arial Narrow', Verdana, sans-serif;
    font-size: 15pt;
    color: #f05815;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 20px;
    line-height: 0.1em;
    margin-left: 25px;
    margin-top: 30px;
    letter-spacing: 0.2em;
    margin-bottom: 0px;
    }

    h3.gallery {
      /* Targets All H2 Elements */
      position: absolute;
      z-index: 5;
      font-family: 'Arial Narrow', Verdana, sans-serif;
      font-size: 15pt;
      color: #f05815;
      text-transform: uppercase;
      padding-top: 45px;
      padding-bottom: 20px;
      line-height: 0.5em;
      margin-left: 25px;
      margin-top: 30px;
      letter-spacing: 0.2em;
      margin-bottom: 0px;
      }

      h3.about {
        /* Targets All H2 Elements */
        position: absolute;
        z-index: 5;
        font-family: 'Arial Narrow', Verdana, sans-serif;
        font-size: 15pt;
        color: #f05815;
        text-transform: uppercase;
        padding-top: 45px;
        padding-bottom: 50px;
        line-height: 0.5em;
        margin-left: 25px;
        margin-top: 30px;
        letter-spacing: 0.2em;
        margin-bottom: 100px;
        }

  p {
    /* Targets All P Elements */
    font-family: 'Arial Narrow', Verdana, sans-serif;
    font-size: 15pt;
    color: #ffffff;
    line-height: 1.4em;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 65px;
    }

    p.gallery {
      /* Targets All P Elements */
      font-family: 'Arial Narrow', Verdana, sans-serif;
      font-size: 15pt;
      color: #ffffff;
      line-height: 1.4em;
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 100px;
      }

/* Dropdown Element */
/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 36pt;
  border: none;
  outline: none;
  color: white;
  padding: 7px 8px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  font-color: #ffffff;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #f05815;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
