body {
   /* Targets EVERY element in the body. */
   width: 1200px;
   margin: 100px;
   background-color: #c0d5eb;
   }

.position {
  /* Anchor elements to top-left corner. */
  position: relative;
  top: 0px;
  left: 0px;
}

div {
  /* Targets Everything in Header */
  height: 100px;
  width: 1000px;
  background-color: #345a80;
  }

nav {
  /* Targets All Navigation Elements */
  font-family: 'Arial Narrow', Verdana, sans-serif;
  color: #ffffff;
  font-size: 165%;
  padding-top: 25px;
  text-transform: uppercase;
}

.title {
    position: relative;
    top: 150px;
    left: 0px;
    font-size: 325%;
    color: #ffffff;
}

.feature {
/* Targets Selected Images */
width: 1000px;
margin-top: 150px;
border-bottom-style: solid;
border-bottom-color: #f05815;
border-bottom-width: 6px;
}

li {
  /* Orders All Navigation Elements */
  display: inline;
  margin-left: 50px;
}

a {
  /* Targets All Linked Elements */
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #f05815;
  style: italic;
}

.quotes {
  /* Targets Quote elements. */
  font-family: 'Arial Narrow Italic', Verdana, sans-serif;
  color: #f05815;
  font-size: 100%;
  text-indent: 50px;
  line-height: 1.4em;
}

   .container {
   /* Targets Container Elements */
     position: absolute;
     top: 556px;
     left: 100px;
     background-color: #ffffff;
     width: 1000px;
     margin: auto;
     padding: 75px;
     border-top-width: 6px;
     border-style: solid;
     border-color: #f05815;
   }

   .image {
     /* Targets Image elements. */
       width: 960px;
       border-bottom-style: solid;
       border-bottom-color: #f05815;
       border-bottom-width: 6px;
   }
